[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rAmCharts"]
	path = rAmCharts
	url = https://github.com/datastorm-open/ramcharts
[submodule "shinymanager"]
	path = shinymanager
	url = https://github.com/datastorm-open/shinymanager
[submodule "suncalc"]
	path = suncalc
	url = https://github.com/datastorm-open/suncalc
[submodule "visNetwork"]
	path = visNetwork
	url = https://github.com/datastorm-open/visnetwork
